*{
    margin: 0;
    padding: 0;
}
/* css for the header */
header{
   background-image: url('file:///C:/Users/User/Desktop/photos-for-projects/Rectangle%201441.png');
    background-size: cover; 
    background-position: center; 
    height: 150vh;
    background-position: 0 0;
}
li{
    list-style: none;
}
#h5{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    line-height: 2.05rem;
    font-size: 1.75rem;
    width:  4.875rem;
    height:  2.1875rem;
    margin-left: 5rem;
    margin-top: 2.5rem;
}
.header-list-wrapper{
    display: flex;
    justify-content: center;
}
#list-wrapper{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.nav-item{
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 1rem;
    line-height: 1.318125rem;
}
.bag-icon{
    margin-left: 90rem ;
}
h1{
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    font-size: 5rem;
    display: flex;
    justify-self: center;
    margin-top: 3rem;
    text-align: center;
}  
h2{
    color: #FFFFFF;
    font-family: 'Gilroy', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#search-bar {
    height: 3.5rem;
    background-color: #FFFFFF26;
    border-radius: 2.625rem;
    border-color: #FFFFFF99;
    width: 21.5rem;
    padding: 0 2rem 0 2rem; 
    font-family: 'Gilroy', sans-serif;
    font-size: 1.1rem;
}

#search-bar::placeholder {
    font-size: 1.1rem;
    font-family: 'Gilroy', sans-serif;
}

.search-button {
    position: absolute;
    right: 0.7rem; 
    top: 50%;
    transform: translateY(-50%);
    background-color: #E58411;
    border-radius: 50%;
    border-color: #E58411;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none; 
    margin-right: 37rem;
}

.search-button:hover {
    background-color: #d4730c;
}
.circle1{
    margin-top: 16em;
    margin-left: 7rem
}
.circle2{
    margin-left: 9rem;
}
.circle3{
    margin-left: 70rem;
    margin-top: 10rem;
}
/* css for the section called "reasons" */
#reasons{
    width: 100%;
}
h3{
    margin-right: 3rem;
    margin-top: 20rem;
    font-family: 'Gilroy', sans-serif;
    color: #1E1E1E;
    height: 6.5rem;
    width: 15.125rem;
    font-size: 2.625rem;
    margin-left: 3rem; 
}
.article-wrapper{
    display: flex;
    justify-content: space-between;
    width: 50rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    gap: 8rem;
    align-items: flex-end;
    margin-top: 4rem;
}
h4{
    font-family: 'Gilroy', sans-serif;
    color: #1E1E1E;
    height: 1.9rem;
    width: 10.75rem;
}
.article-p{
    text-align: start;
    height: 5.625rem;
    color: #1E1E1E;
}
.p-arrow{
    color: #E58411;
    margin-top: 1rem;
    font-family: 'Gilroy', sans-serif;
    cursor: pointer;
}
.arrow{
    margin-top: 0.5rem;
    cursor: pointer;
}   
/* css for new section (products) */
.products{
    width: 100%;
    height: 56.625rem;
}
h6{
    margin-top: 3rem;
    font-family: 'Gilroy', sans-serif;
    color: #1E1E1E;
    display: flex;
    justify-self: center;
    font-size: 2.625rem;
}
.button-holder{
    background-color: #EEEEEE;
    width: 21.75rem;
    height: 3rem;
    border-radius: 2.7rem;
    border-color: #EEEEEE;
    cursor: pointer;
    display: flex;
    justify-self: center;
    margin-top: 2rem;
}
.inside-button-wrapper{
    display: flex;
    justify-content: center; 
    align-items: center;      
    width: 100%;              
    height: 100%;             
}  
.inside-buttons{
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-radius: 2rem;
    width: 5.25rem;
    height: 2.8125rem;
    cursor: pointer;
}   
.inside-buttons:hover{
    background-color: #FFFFFF;
    cursor: pointer;
}
.chairs-wrapper{
    display: flex;
    justify-content: space-around;
}   