@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* css for header*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif !important;
}
header h1{
    width: 100%;  
    text-align: center;  
    margin-top: 60px;  
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif !important;
    font-display: swap;
}
header nav ul{
      color: #659F7C;
      font-weight: 700;
      font-size: 44.97px;
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;

}

li{
    list-style: none;
}
li:hover{
    color: #D74E12;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
/* css for main */ 
.center-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
}
/* Styling for the shape itself */
.main-line {
    width: 100%; 
    height: 4.5px; 
    background-color: #D74E12; 
    z-index: 1;
}
.img-wrapper{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 125px;
    position: relative;
}

img{
    z-index: 2;
}
.vaccination-logo-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    margin-top: 6rem;
    margin-left: 1rem;
}
  
  .logo-item {
    display: flex;
    align-items: center;
}
  
  .logo-item img {
    max-width: 100px;
    width: auto;
    height: auto;
 }
  
  .logo-text {
    font-family: 'FiraGO', sans-serif;
    color: #616161;
    font-weight: 700;
    margin-left: 0.5rem; 
 }
.virus-section{
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
 

  




